
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="http://tmgroup.com.eg/our-products/">
									Smart Meter Dashboard
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="http://tmgroup.com.eg/">TMGroup</a> 
                        - Developed by <a target="_blank" href="https://aliopro.herokuapp.com/">AliOrabi</a>
					</div>				
				</div>
            </footer>
            