{% extends "layouts/base.html" %}

{% block title %} CreateEditLogger {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}




{% block content %}

		<div class="content">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Create New Device</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="index.html">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="loggers.html">Devices</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#"> Create Edit Logger </a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="form-group" style="align-content: left;">
											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label"> SMS Number: </label>
												<div class="col-md-6">
													<input type="text" class="form-control input-full" id="inlineinput" placeholder="">
												</div>
											</div>
											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label"> GSM Data Number: </label>
												<div class="col-md-6">
													<input type="number" class="form-control input-full" id="inlineinput" placeholder="">
												</div>
											</div>
											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label"> Device Serial Number: </label>
												<div class="col-md-6">
													<input type="number" class="form-control input-full" id="inlineinput" placeholder="">
												</div>
											</div>
											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label"> Customer Serial Number </label>
												<div class="col-md-6">
													<input type="number" class="form-control input-full" id="inlineinput" placeholder="">
												</div>
											</div>

											<div class="form-group form-inline">
												<label for="inlineinput" class="col-md-3 col-form-label">Number Device Owner:</label>
												<div class="col-sm-8">
													<div class="btn-group bootstrap-select form-control bootstrapFilter">
														<input type="text" role="textbox" aria-label="Search" class="form-control" id="accountSearchFilter" placeholder="">
														<div class="form-group" id="includeInactiveDMAs">
															<label for="">
																<input type="checkbox">Include Inactive DMAs
															</label>
														</div>
														<div class="form-group" id="">
															<label for="">
																<input type="checkbox">Include Archived DMAs
															</label>
														</div>
													</div>
												</div>
											</div>

										</div>
										<div class="form-group">
											<label for="inlineinput" class="col-md-3 col-form-label"> Service Description </label>
											<input type="text" class="form-control col-sm-6" id="inlineinput" placeholder="">
										</div>
										
										<div class="form-group form-inline">
											<label for="comment">Notes: </label>
											<div class="col-md-6">
												<textarea class="form-control" id="comment" rows="5" cols="70"></textarea>
											</div>
										</div>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="form-group form-inline">
											<label for="inlineinput" class="col-form-label"> Previous Battery Replacement Date </label>
											<div class="col-md-6">
												<div class="form-control-static">
													<input type="text" class="form-control form-control hasDatepicker" id="inlineinput" placeholder="">
												</div>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="inlineinput" class="col-form-label"> Next Battery Replacement Date </label>
											<div class="col-md-6">
												<div class="form-control-static">
													<input type="text" class="form-control" id="inlineinput" placeholder="">
												</div>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="inlineinput" class="col-form-label"> Service Date </label>
											<div class="col-md-6">
												<div class="form-control-static">
													<input type="text" class="form-control" id="inlineinput" placeholder="">
												</div>
											</div>
										</div>  
										<div class="form-group form-inline">
											<label for="inlineinput" class="col-form-label"> Warranty Expiration Date </label>
											<div class="col-md-6">
												<div class="form-control-static">
													<input type="text" class="form-control" id="inlineinput" placeholder="">
												</div>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="inlineinput" class="col-form-label"> Sim Expiry Date </label>
											<div class="col-md-6">
												<div class="form-control-static">
													<input type="text" class="form-control" id="inlineinput" placeholder="">
												</div>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="inlineinput" class="col-form-label"> Equipment Service Cost </label>
											<div class="col-md-6">
												<div class="form-control-static">
													<input type="text" class="form-control" id="inlineinput" placeholder="">
												</div>
											</div>
										</div>
										<!---->
									</div>
								</div>
							</div>
							<div class="card-action">
								<button type="submit" class="btn btn-primary">Create</button>
								<button type="reset" class="btn btn-defualt">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 10,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});
		});
	</script>
{% endblock javascripts %}